@import "../../color";

.title{
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 116%;
  display: flex;
  align-items: center;
  color: $text-color;
  margin-bottom: 4rem;
}

.content{
  max-width: 39rem;
  width: 100%;
}

.wrapper{
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, $accent04 50%, $accent04 100%);
}
